@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./reset.css');

:root {
  --color-white: #ffffff;
  --color-bg: #000710;
  --color-highlight: #41D3FF;
  --text-small: 1.4rem;
  --text-normal: 1.6rem;
  --text-medium: 2.2rem;
  --text-large: 2.4rem;
  --text-large-x: 2.6rem;
  --text-large-xx: 2.8rem;
  --text-large-xxx: 3rem;
  --text-large-xl: 4rem;
}

html {
  font-size: 62.5%;
  font-family: "Saira", sans-serif;
  color: var(--color-white);
}

/* Container */
.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

/* Section */
.section {
  padding: 40px 0;
  margin: 0;
}
@media (min-width: 768px) {
  .section {  
    padding: 72px 0;
  }
}

/* Title */


/* Text */
.text {
  font-size: var(--text-small);
  font-weight: 300;
  line-height: normal;
}
@media (min-width: 768px) {
  .text {
    font-size: var(--text-normal);
  }
}

.text-highlight {
  color: var(--color-highlight);
}

strong {
  font-weight: bold;
}

/* Button */
.button {
  color: var(--color-white);
  background: transparent linear-gradient(180deg, #54FFE0 0%, #1640FF 100%) 0% 0% no-repeat padding-box;
  border-radius: 8px;
  border: none;
  padding: 16px 56px;
  font-size: var(--text-small);
  font-weight: 500;
}

/* Header */
.header {
  position: fixed;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 96%;
  height: 48px;
  background: #11173B80 0% 0% no-repeat padding-box;
  border: 1px solid #1A256B;
  border-radius: 54px;
  z-index: 2;
  display: flex; 
  align-items: center;
}
@media (min-width: 576px) {
  .header {
    width: 88%;
  }
}

.header__nav {
  width: 100%;
  overflow-x: auto; 
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
}

.header__nav::-webkit-scrollbar {
  display: none;
}

.header__nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  white-space: nowrap;
  width: 100%;
}
@media (min-width: 576px) {
  .header__nav__list {
    gap: 32px;
  }
}

.header__nav__list li.active {
  background: #06102B 0% 0% no-repeat padding-box;
  border: 1px solid #1F2E6E;
  border-radius: 100px;
  padding: 8px 24px;
}

.header__nav__list a {
  color: var(--color-white);
  font-weight: 400;
  font-size: 1.1rem;
  text-decoration: none;
}
@media (min-width: 576px) {
  .header__nav__list a {
    font-size: var(--text-small);
  }
}

.header__nav__list a:hover {
  color: var(--color-highlight);
}

.scroll-arrow {
  width: 22px; 
  height: 22px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-shrink: 0;
  margin: 0 8px;
}

.scroll-arrow:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.scroll-arrow::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-top: 2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
}

.left-arrow::before {
  transform: rotate(-135deg);
  margin-right: 0; 
}

.right-arrow::before {
  transform: rotate(45deg);
  margin-left: 0; 
}

.bg-color {
  transition: background 0.5s ease-out;
  background-color: #00041F;
}

/* Footer */
.footer {
  background-color: #00041F;
  color: #ffffff;
  text-align: center;
  padding: 40px 0;
  font-size: var(--text-normal);
  font-weight: 300;
  line-height: 1.6;
}

.footer__logo {
  margin: 16px 0;
}

.footer__logo img {
  max-width: 220px;
  height: auto;
}

.footer__contact-info p {
  margin: 5px 0;
}

.footer__address {
  margin-bottom: 40px;
}

.footer__address p {
  margin: 5px 0;
}

.footer__copy {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 20px;
  margin-top: 20px;
  font-size: var(--text-small);
  color: rgba(255, 255, 255, 0.7);
}

/* Button Whatsapp */
#whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #00CB56;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#whatsapp-button img {
  width: 26px;
  height: 26px;
}

#whatsapp-button:hover {
  background-color: #20b954;
}